body{
    background-color: rgb(104, 19, 104)!important;
}

.main{
    background-color: #fff;
}
.main-title{
    font-weight: 900;
    font-size: 24px;
}
.main-description{
    font-size: 12px;
}

.option--odd{ display: none; }
.option--even{ display: none; }

.code-title{
    font-weight: 900;
    font-size: 16px;
    margin: 0;
}
.code-description{
    font-size: 12px;
}
.code-box{
    font-size: 12px;
}

.robot-bg{
    background-image: url('./img/bg.png');
    background-size: contain;
}
.robot{
    width: 100%;
}


/* MODAL */
/* The Modal (background) */
.default-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.default-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
}