body{
    background-color: rgb(104, 19, 104)!important;
}

.main{
    background-color: #fff;
}

.robot-bg{
    background-image: url('./img/bg.png');
    background-size: contain;
}
.robot{
    width: 100%;
}